apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity
  namespace: identity-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: identity
  template:
    metadata:
      labels:
        app: identity
    spec:
      serviceAccountName: identity-prod-ksa
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: identity
      tolerations:
        - key: cloud.google.com/gke-spot
          operator: Equal
          value: "true"
          effect: NoSchedule
      containers:
        - name: identity
          image: us-central1-docker.pkg.dev/ethans-services/containers/identity:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          envFrom:
            - configMapRef:
                name: identity-prod-config
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: identity-prod-secrets
                  key: DATABASE_URL
            - name: JWT_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: identity-prod-secrets
                  key: JWT_PRIVATE_KEY
            - name: RESEND_API_KEY
              valueFrom:
                secretKeyRef:
                  name: identity-prod-secrets
                  key: RESEND_API_KEY
            - name: STORAGE_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: identity-prod-secrets
                  key: STORAGE_ACCESS_KEY
            - name: STORAGE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: identity-prod-secrets
                  key: STORAGE_SECRET_KEY
            - name: STORAGE_TOKEN
              valueFrom:
                secretKeyRef:
                  name: identity-prod-secrets
                  key: STORAGE_TOKEN
          volumeMounts:
            - name: secrets-store
              mountPath: "/mnt/secrets"
              readOnly: true
      volumes:
        - name: secrets-store
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: identity-prod-secrets
