@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default;
}

@source "../templates";

@layer base {
    body {
        @apply min-h-screen bg-base-200;
        @apply text-base-content;
        @apply flex items-center justify-center p-6;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    }
}
