basePath: /
host: localhost:8080
info:
  contact:
    name: Ethan Swan
  title: Forecasting Authentication Service
  version: "1.0"
paths:
  /health:
    get:
      description: Returns OK if the service is up and running.
      produces:
      - text/plain
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Health check
      tags:
      - health
swagger: "2.0"
