name: Pull Request

on:
  pull_request:
    branches: [main]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Verify dependencies
        run: go mod verify

      - name: Run go vet
        run: go vet ./...

      - name: Build
        run: go build -v ./...
        env:
          # Don't worry, this is a key used only for testing.
          JWT_PRIVATE_KEY: |
            -----BEGIN EC PRIVATE KEY-----
            MHcCAQEEICQMNHONu2Sud2tu6jgOZs3LIj5yOZr89NBMLYiyqBK/oAoGCCqGSM49
            AwEHoUQDQgAERCHWHrX20emk31HypGNgptwBjdZOyBybV/9BLTbJPj8UsZ/46ri5
            /eFKkRfNApxFU/5lk1RGQJqt8t0GvkkJdw==
            -----END EC PRIVATE KEY-----
          JWT_ISSUER: http://localhost:8080
          JWT_AUDIENCE: http://localhost:8000

      - name: Run tests
        run: go test -v ./...
        env:
          # Don't worry, this is a key used only for testing.
          JWT_PRIVATE_KEY: |
            -----BEGIN EC PRIVATE KEY-----
            MHcCAQEEICQMNHONu2Sud2tu6jgOZs3LIj5yOZr89NBMLYiyqBK/oAoGCCqGSM49
            AwEHoUQDQgAERCHWHrX20emk31HypGNgptwBjdZOyBybV/9BLTbJPj8UsZ/46ri5
            /eFKkRfNApxFU/5lk1RGQJqt8t0GvkkJdw==
            -----END EC PRIVATE KEY-----
          JWT_ISSUER: http://localhost:8080
          JWT_AUDIENCE: http://localhost:8000
